.packDiv {
  height: auto;
}
.packWrapper {
  max-width: 20%;  
  height: auto;
  transition: transform 500ms;
  border-radius: 1em;
  background: lightgrey;
  padding: 0.5%;
}

.packWrapper:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.sealedContainer, .openedContainer {
  width: 100%;
  height: 100%;
  margin-bottom: 0.25%;
}

.pulledCards {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 1080px){
  .packDiv {
    height: 75%;
    margin-bottom: 7%;
  }
  
  .packWrapper {
    max-width: 80%;
  }

  .pulledCards {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    flex-wrap: nowrap;
  }

  .pulledCards::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .pulledCards {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}


